* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; padding: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
}
ul, ol, li {
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
